.information-panel {
    background-color: white;
    font-family: "Bookman Old Style", BookOS, "Times New Roman", sans-serif;
    font-size: 13pt;
    width: 40vw;
    transition-duration: 1s;
    display: block;
    position: fixed;
    margin-top: 0;
    z-index: 1;
    overflow: auto;
    padding: 10px;
}

.article-img {
    display: block;
    margin: auto;
    max-width: 100%;
}

.back-button {
    width: 100px;
}