img.not-found-picture {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.tip-to-main {
    text-align: center;
}

main {

}

.content-404 {
    background-image: url("../../static/img/404.jpg");
    background-position: center;
    background-size: 100vw;
    background-position-y: -20vh;
    background-repeat: no-repeat;
    height: 78vh;
    color: white;
}

.text-404 {
    padding-top: 30vh;
    padding-left: 10vw;
    font-family: "Times New Roman", sans-serif;
    font-size: 23pt;
    max-width: 600px;
}

.text-404 > span {
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: 10px;
    padding-right: 10px;
}