header {
    background-color: darkgrey;
}

.primary-nav {
    display: flex;
}

.primary-nav ul {
    display: flex;
    list-style: none;
}

.primary-nav li {
    display: flex;
    text-align: center;
}

.primary-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
}