header {
    background-color: #20232a;
    color: white;
    display: flex;
    justify-content: space-between;
}

.primary-nav {
    display: flex;
}

.primary-nav ul {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.primary-nav li {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 10px;
    min-width: 30pt;
}

.typical {
    margin-top: 10px;
    font-size: 14pt;
    font-family: "BookOS", sans-serif;
    transition-duration: 2s;
}

.typical:hover {
    text-decoration: underline;
    transition-duration: 2s;
}

.primary-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

.logo {
    width: 30pt;
    text-align: center;
}

.g-logo {
    font-family: "Times New Roman", sans-serif;
    color: #8c8e8a;
    font-size: 28pt;
    position: absolute;
}

.z-logo {
    font-family: "Times New Roman", sans-serif;
    color: #ddddde;
    font-size: 23pt;
    position: absolute;
    margin-top: 11pt;
    margin-left: 9pt;
}